body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

.view {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f2f2f3;
}

.card {
    min-width: 360px;
    padding: 2rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    border-radius: 4px;
    background: white;
}

.card>form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background-color: #3273dc;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn:disabled {
    background-color: rgba(0, 0, 0, 0.4);
    cursor: default;
}

.margin-top--small {
    margin-top: 1rem;
}

.margin-top--medium {
    margin-top: 1.5rem;
}

.margin-top--large {
    margin-top: 4rem;
}

.error {
    border: 1px solid red !important;
}

.input-text-wrap [type=email],
.input-text-wrap [type=number],
.input-text-wrap [type=password],
.input-text-wrap [type=tel],
.input-text-wrap [type=text] {
    display: block;
    width: 100%;
    padding: 0;
    font-size: 13px;
    line-height: 24px;
    color: #294661;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #d4dadf;
    box-shadow: 0 1px 0 transparent;
    transition: border-color .3s, box-shadow .3s;
}

.input-text-wrap.is-full-width {
    width: 100%;
    max-width: 100%;
}

.input-text-wrap {
    position: relative;
    padding-top: 15px;
    margin-bottom: 20px;
}

.input-text-label {
    position: absolute;
    top: 18px;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    pointer-events: none;
    transition: top .3s, font-size .3s;
    transition-timing-function: cubic-bezier(.02, .01, .47, 1);
}

label {
    font-weight: inherit;
}

.input-info.danger,
.input-text-info.danger {
    color: #b71c1c;
}

.input-text-label {
    position: absolute;
    top: 18px;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    pointer-events: none;
    transition: top .3s, font-size .3s;
    transition-timing-function: cubic-bezier(.02, .01, .47, 1);
}

label {
    font-weight: inherit;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 100;
}

.delta1 {
    padding: 0;
    margin: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
    font-style: normal;
}

.fullpage-centered .btn {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.btn-primary {
    color: #fff;
    background-color: #1188e6;
    border-color: #1288e5;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 11px 30px;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    box-sizing: border-box;
    transition: color .3s, background-color .3s, border-color .3s;
    user-select: none;
}

.pointer {
    cursor: pointer;
}

.link,
a {
    color: #489be8;
    text-decoration: none;
    transition: color .3s;
}

.delta2 {
    padding: 0;
    margin: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}