div {
    border: solid 0px black;
    padding: 2px;
}

.pageHeader {
    max-height: 150px;
}

.container {
    height: 100vh;
}

.userFormContainer {
    width: 100%;
}

.userFormLegend {
    width: 14rem;
    background: #dee2e6;
}

.calendar {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    background-color: white;
    
}
.content {
    background-color: white;
}
.hidecontent {
    background-color: rgba(0, 0, 0, 0.3);

}